html,body {
    background: wheat;
        height: 100%;

}
header {
    background: seagreen;
    height: 20%;
}
main{
    background: wheat;
    height: 60%;

}
footer{
    background: rgb(96, 170, 128);
    height: 20%;
}