html,body {
    background: wheat;
    height: 100%;

}
header {
    background: seagreen;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}
main{
    background: wheat;
    height: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
    

}
footer{
    background: rgb(96, 170, 128);
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}